@import "./utils/_variables";

.text-center {
  text-align: center;
}
.container {
  display: flex;
  margin: 0 150px;
}
.primary-button {
  background-color: #ffffff;
  color: $primary-color;
  border-radius: 50px;
  padding: 15px 30px;
  border: none;
  &:hover {
    background-color: rgb(242, 206, 95);
    color: #ffffff;
    transition: 0.5s;
  }
}
