<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Index page</title>
</head>

<body>
  <div class="appbar container">
    <ul class="nav-items">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Feature</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Screenshots</a>
      </li>
      <li class="nav-item dropdown-toggle">
        <a href="#" class="dropdown-button nav-link">News <div class="triangle-down"></div></a>

        <ul class="dropdown-content">
          <li class="dropdown-item"><a>Recent News</a></li>
          <li class="dropdown-item"><a>News One</a></li>
          <li class="dropdown-item"><a>Single News</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="flex-container">
      <div class="content-toggle">
        <div class='round'><i class="fas fa-magic vertical-align-centering"></i> </div>
        <div class="content">
        <h4 class="text-label text-center">Creative Design</h4>
        <p class="text-content text-center">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
      </div>
      </div>
      <div class="content-toggle">
        <div class='round'><i class="fas fa-rocket vertical-align-centering"></i>
        </div>
        <div class="content">
        <h4 class="text-label text-center">Free support</h4>
        <p class="text-content text-center">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
      </div>
      </div>
      <div class="content-toggle">
        <div class='round'><i class="fas fa-gem vertical-align-centering"></i>
        </div>
        <div class="content">
        <h4 class="text-label text-center">Exclusive Design</h4>
        <p class="text-content text-center">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</pclass="text-center">
        </div>
      </div>
    </div>
  </div>
  <div class="phone">
    <div class="image-phone"> <img src="../images/mobile-2.png" alt=""></div>
    <div class="text-phone">ddsad
      
    </div>
  </div>
</body>

</html>