<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <section>
    <div class="app-bar">
      <div class="container flex">
        <ul class="app-bar__nav-items">
          <li class="app-bar__nav-item">
            <a href="#" class="app-bar__nav-link">Home</a>
          </li>
          <li class="app-bar__nav-item">
            <a href="#" class="app-bar__nav-link">About</a>
          </li>
          <li class="app-bar__nav-item">
            <a href="#" class="app-bar__nav-link">Feature</a>
          </li>
          <li class="app-bar__nav-item">
            <a href="#" class="app-bar__nav-link">Screenshots</a>
          </li>
          <li class="app-bar__nav-item dropdown">
            <a href="#" class="dropdown__button app-bar__nav-link">News <div class="triangle-down"></div></a>

            <ul class="dropdown__content">
              <li class="dropdown__item"><a>Recent News</a></li>
              <li class="dropdown__item"><a>News One</a></li>
              <li class="dropdown__item"><a>Single News</a></li>
            </ul>
          </li>
          <li class="app-bar__nav-item">
            <a href="#" class="app-bar__nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="succeed clearfix">
    <div class="container flex-direction-row flex">
      <div class="succeed_text">
        <p>With us you will</p>
        <p class="title">SUCCEED</p>
        <p>Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally simplify
          visionary technology.</p>
        <button class='btn btn--primary'>READ MORE</button>
      </div>
      <div class="succeed_phone">
        <img src="../images/mobile-1.png" alt="">
      </div>
    </div>
  </section>
  <section class="options">
    <div class="container flex flex-direction-row">
      <div class="flex flex-direction-column options__child">
        <div class="options__child__icon-wrapper"><i class="fas fa-magic"></i></div>
        <p class="heading">Exclusive Design</p>
        <p class="content">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
      </div>
      <div class="flex flex-direction-column options__child">
        <div class="options__child__icon-wrapper"><i class="fas fa-rocket"></i></div>
        <p class="heading">Exclusive Design</p>
        <p class="content">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
      </div>
      <div class="flex flex-direction-column options__child">
        <div class="options__child__icon-wrapper"><i class="fas fa-gem"></i></div>
        <p class="heading">Exclusive Design</p>
        <p class="content">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
      </div>
    </div>
  </section>
  <section class="phone">
    <div class="container flex flex-direction-row">
      <div class="phone__image"><img src="../images/mobile-2.png" alt=""></div>
      <div class="phone__text flex flex-direction-column">
        <div class="phone__text__heading">Make Business Easy With Us</div>
        <div class="phone__text__summary">Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor coli incidit labore lorem</div>
        <div class="phone__text__content flex flex-direction-row">
          <div class="phone__text__content__child">
            <i class="fas fa-rocket"></i>
            <p>Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
          </div>
          <div class="phone__text__content__child">
            <i class="fas fa-rocket"></i>
            <p>Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
          </div>
          <div class="phone__text__content__child">
            <i class="fas fa-rocket"></i>
            <p>Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
          </div>
          <div class="phone__text__content__child">
            <i class="fas fa-rocket"></i>
            <p>Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
</body>

</html>