@import "./utils/_variables";
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content-toggle {
  width: 33%;
  height: 270px;
  margin: 0 10px;
  background-color: $primary-color;
  padding: 40px;
  position: relative;
  &:hover {
    border-bottom: 2px solid $warning-color;

    .fas {
      color: $warning-color;
    }
  }

  .content {
    margin-top: 40%;
    color: #ffffff;

    .text-label {
      font-size: 1.5rem;
    }

    .text-content {
      font-size: 18px;
    }
  }

  .round {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;

    .fas {
      font-size: 50px;
      color: $primary-color;
    }
  }
}
