@import "./utils/_variables";

.succeed {
  background-color: $primary-color;
  height: 500px;
  width: 100vw;
  &_text {
    padding-top: 200px;
    color: #ffffff;
  }
  .title {
    font-size: 80px;
    margin: 0;
  }
  &::after {
    width: 0;
    height: 0;
    border-bottom: 200px solid transparent;
    border-left: 100vw solid $primary-color;
    content: "";
    top: 500px;
    position: absolute;
    z-index: 1;
  }
  &_phone {
    z-index: 2;
  }
}
