.phone {
  margin-top: 100px;
  display: inline-block;
  width: 100%;
  .image-phone {
    overflow: auto;
    padding-left: 20%;
    width: 30%;
    display: inline-block;
  }

  .text-phone {
    width: 50%;
    display: inline-block;
  }
}
